/* Login and signup forms */

.account-form button {
	width: 4rem;
	margin-left: 80px;
}

#signup-form button {
	width: 8rem;
}

.account-forms-container {
	padding-left: 20px;
}

.user-profile-box {
	padding: 0.9em;
}

/* grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */

.user-profile-row {
	display: flex
}
